body {
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center; /* Vertically center the container */
    height: 100vh;
    
   
  }

  .container {
    text-align: center; /* Optional: Center-align the contents inside the container */
    background-color: rgb(159, 79, 234);
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: groove;
  }

  .button {
    display: inline-block;
    padding: 10px 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
   form {
    font-size: 30px;
   }

   #fname {
    width: 160px; /* Set the width of the input field */
    padding: 10px; /* Add padding for spacing inside the input field */
    font-size: 16px; /* Set the font size */
    border: 2px ; /* Add a border with a custom color */
    border-radius: 5px;
   }

   #lname {
    width: 160px; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px ; 
    border-radius: 5px;
   }

   #email {
    width: 350px; 
    padding: 10px;
    font-size: 16px; 
    border: 2px ; 
    border-radius: 5px;
   }
   
   #password {
    width: 350px;
    padding: 10px; 
    font-size: 16px; 
    border: 2px ; 
    border-radius: 5px;
   }

   #cpassword {
    width: 350px; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px ; 
    border-radius: 5px;
   }
 
   

